# Build rezultati
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.iobj
*.ipdb

# IntelliSense / VS fajlovi
*.ipch
*.sdf
*.VC.db
*.VC.opendb
.vs/

# Logovi i cache
*.log
*.tlog
*.cache
*.lastbuildstate
*.idb

# User fajlovi (po korisniku, ne po projektu)
*.suo
*.user
*.userosscache
*.sln.docstates

# CMake (ako koristiš)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Temporary
*.tmp
*.bak

# Direktno build output
*.obj
*.o
*.pch

# Direktno uključene IDE postavke
*.ncb
*.opensdf
*.db

# Precompiled headers
*.gch
*.pch

# Backup fajlovi
*~
*.orig

# VSCode 
.vscode/

#save fajlovi
workerOutput.txt
replicatorOutput.txt
workerResponses.txt
clientOutput.txt
log.txt